*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-text: #ffff;
  --subhead-text: #63C5B7;
  --main-head-text: #212121;
  --main-p-text: #616161;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
body{
  font-family: Poppins,sans-serif;
}